body {
    font-family: sans-serif;
    margin: 20px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

img {
    width: 120px;
    border-radius: 6px;
    margin-top: 10px;
}
.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    gap: 10px;
}

.character-icon {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}

.character-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-icon:hover {
    scale: 1.05;
    border-color: #7ef;
}

.character-icon.selected {
    border-color: #0ff;
    box-shadow: 0 0 10px #0ff;
}
