body {
    font-family: sans-serif;
    margin: 20px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

img {
    width: 120px;
    border-radius: 6px;
    margin-top: 10px;
}
